.recommended-friends {
  padding: 15px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.4);
}
.recommended-friends span {
  margin: 85px 0px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0px;
  font-weight: 600;
  display: block;
}
.open-chat {
  margin: 15px 0px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
}
.open-chat__title {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}
.open-chat__header span {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}
.open-chat__header .fa-chevron-right {
  color: rgba(0, 0, 0, 0.2);
  opacity: 0.6;
  font-size: 12px;
  margin-left: 3px;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--main-border);
  padding-bottom: 10px;
}
.open-post__title {
  margin-top: -5px;
  font-weight: 600;
}
.open-post__hashtag {
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0px 8px 0px;
  color: rgba(0, 0, 0, 0.4);
}
.open-post__description img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__members {
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
.open-post__description {
  display: flex;
  align-items: center;
}
.open-post__description .divider {
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 5px;
}
.open-post__status {
  font-size: 13px;
  font-weight: 600;
  color: #ff66c4;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 90px;
  height: 90px;
  border-radius: 5px;
}
.open-post__likes {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 5px 7px;
  font-size: 11.5px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 63px;
  right: 5px;
}
@keyframes beatingHeart {
  0% {
  }
  50% {
    color: red;
    transform: scale(1.3);
  }
  100% {
  }
}
.open-post__likes .fa-heart {
  margin-right: 5px;
}
.open-post__likes .fa-heart:hover {
  will-change: transform;
  animation: beatingHeart 1s ease-out infinite;
}
.open-post__likes span {
  letter-spacing: 0;
}
